@import "normalizes.scss";
@import "resets.scss";

@font-face {
    font-family: "MontserraT";
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MontserraT";
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "MontserraT";
    font-weight: regular;
}

$color-blue: #5290EA;
$color-orange: #F28B64;
$color-grey: #E2E2E2;

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.main-section {
    position: relative;
    padding-top: 16px;
    min-height: 800px;
    background-color: #F0F0F0;
    overflow: hidden;

    &__nav-container {
        height: 69px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 134px;
    }

    &__content-container {
        display: flex;
        position: relative;
    }

    &__first-elipse {
        position: absolute;
        top: 129px;
        right: 80px;
    }

    &__second-elipse {
        position: absolute;
        top: 650px;
        right: -120px;
    }
}

.nav-menu {
    &__list {
        display: flex;

        &-item {
            margin-right: 64px;
            font-size: 18px;
    
            &:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }
}

.left-wrapper {
    position: relative;

    &__img {
        position: relative;
        z-index: 5;
    }

    &__rectangle-blue {
        position: absolute;
        top: 150px;
        left: -50px;
        z-index: 2;

        width: 565.949px;
        height: 220px;
        background: $color-blue;
        border-radius: 100px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transform: rotate(-64.003deg);
    }

    &__rectangle-orange {
        position: absolute;
        top: 160px;
        left: -30px;
        z-index: 3;

        width: 618.428px;
        height: 220px;
        transform: rotate(-50.806deg);
        border-radius: 100px;
        background: $color-orange;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &__rectangle-grey {
        position: absolute;
        top: 190px;
        left: 10px;
        z-index: 1;

        width: 608.968px;
        height: 220px;
        transform: rotate(-36.15deg);
        border-radius: 100px;
        background: $color-grey;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.right-wrapper {
    width: 372px;
    position: absolute;
    z-index: 5;
    top: 150px;
    right: 76px;

    &__icons-box {
        margin-bottom: 1px;
        padding-left: 10px;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__text {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.icons {
    display: flex;

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        border: 1px solid $color-blue;
        border-radius: 100px;

        margin-right: 17px;

        &:last-child {
            margin-right: 0;
        }

        i {
            font-size: 21px;
        }
    }
}

.title {
    font-size: 72px;
    font-weight: bold;
    position: relative;

    
    &__hr {
        width: 65px;
        position: absolute;
        bottom: 0;
        margin: 0;
        border: 0;
        border-top: 1px solid black;
    }
}

.buttons {
    display: inline-flex;

    &__main-btn {
        margin-right: 32px;

        width: 200px;
        height: 60px;
        background-color: $color-orange;
        border: 0;
        border-radius: 100px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    &__icon-btn {
        display: inline-flex;
        align-items: center;

        img {
            margin-right: 12px;
        }
    }

    &__text {
        font-size: 16px;
    }
}

.elipse {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 194px;
    border-radius: 50%;
    background: linear-gradient(144deg, rgba(237, 123, 80, 0.50) 14.85%, rgba(72, 138, 234, 0.50) 53.25%, rgba(44, 44, 44, 0.50) 85.74%);

    &_dig {
        width: 282px;
        height: 282px;
    }

    &__subtract {
        width: 129.333px;
        height: 129.333px;
        border-radius: 50%;
        background: #E5E5E5;

        &_dig {
            width: 188px;
            height: 188px;
        }

        &_white {
            background: white;
        }
    }
}

.second-section {
    min-height: 700px;
    overflow: hidden;
    
    &__container {
        padding-top: 32px;
        position: relative;
    }
    &__title {
        margin-bottom: 40px;
    }

    &__cards-box {
        display: inline-flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    &__cards-item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icons-box {
        display: flex;
        justify-content: center;
    }

    &__icons-item {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__first-elipse {
        position: absolute;
        top: 80px;
        right: -60px;
        z-index: -1;
    }

    &__second-elipse {
        position: absolute;
        top: 364px;
        left: -60px;
        z-index: -1;
    }
}

.cards-item {
    position: relative;
    width: 360px;
    height: 360px;
    background: $color-grey;
    border-radius: 10px;

    display: flex;
    align-items: flex-end;

    &__img {
        height: 335px;
    }
    &__text {
        width: 280px;
        font-size: 36px;
        font-weight: bold;
        text-align: center;

        transform: rotate(90deg);
        position: absolute;
        top: 144px;
        right: -45px;
    }
    &_orange {
        background: $color-orange;
    }
    &_blue {
        background: $color-blue;
    }
}

.icons-item {
    display: inline-flex;
    align-items: center;

    &__img {
        margin-right: 20px;
        width: 80px;
    }
    &__text {
        font-size: 18px;
        span {
            font-size: 48px;
            font-weight: bold;
        }
    }
}

.third-section {
    min-height: 640px;
    background: #F0F0F0;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 46px;
        padding-left: 167px;
    }

    &__first-elipse {
        position: absolute;
        top: 140px;
        left: 110px;
        z-index: -1;
    }

    &__right-wrapper {
        max-width: 480px;
    }

    &__right-title {
        margin-bottom: 20px;
    }

    &__text {
        font-size: 18px;
        margin-bottom: 30px;
    }

    &__figure {
        position: absolute;
        top: 249px;
        left: 15px;
        z-index: -1;
    }

    &__second-elipse {
        position: absolute;
        right: -120px;
        top: -120px;
    }
}

.title__hr_top {
    bottom: 75px;
}

.footer {
    position: relative;
    &__img {
        position: absolute;
        bottom: 0;
        left: -250px;
    }
    &__container {
        min-height: 272px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .main-section {
        min-height: 690px;
    }

    .left-wrapper {
    
        &__img {
            width: 750px;
        }
    
        &__rectangle-blue {
            width: 500px;
            height: 200px;
        }
    
        &__rectangle-orange {
            width: 550px;
            height: 200px;
        }
    
        &__rectangle-grey {
            width: 500px;
            height: 200px;
        }
    }

    .right-wrapper {
        right: 20px;
    }

    .main-section__first-elipse {
        right: 10px;
    }

    .main-section__second-elipse {
        top: 560px;
    }

    .second-section {
        min-height: 600px;
        &__cards-box {
            display: flex;
            justify-content: center;
        }
    }

    .cards-item {
        width: 300px;
        height: 300px;
        margin-right: 20px;

        &__img {
            height: 270px;
        }

        &__text {
            top: 120px;
            font-size: 30px;
        }
    }

    .icons-item__img {
        margin-right: 10px;
    }

    .third-section__container {
        padding-left: 40px;
    }

    .third-section_right-wrapper {
        max-width: 450px;
    }
    
}

@media (max-width: 991px) {
    .main-section {
        min-height: 530px;
        &__first-elipse {
            top: 70px;
        }
        &__second-elipse {
            top: 400px;
        }
    }


    .container {
        width: 720px;
    }

    .title {
        font-size: 60px;
    }

    .right-wrapper {
        width: 300px;
        top: 75px;
        &__text {
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
    .buttons {
        &__main-btn {
            font-size: 14px;
            margin-right: 10px;
            width: 160px;
            height: 50px;
        }
        &__icon-btn {
            font-size: 14px;
        }
    }

    .elipse {
        width: 150px;
        height: 150px;
        &__subtract {
            width: 110px;
            height: 110px;
        }
        &__subtract_dig {
            width: 170px;
            height: 170px;
        }

    }

    .elipse_dig {
        width: 250px;
        height: 250px;
    }

    .left-wrapper {
        &__img {
            width: 550px;
        }
        &__rectangle-blue {
            width: 380px;
            height: 130px;
        }
        &__rectangle-orange {
            width: 410px;
            height: 130px;
        }
        &__rectangle-grey {
            width: 380px;
            height: 130px;
        }
    }
    .second-section {
        min-height: 450px;

        &__container {
            padding-top: 20px;
        }

        &__title {
            margin-bottom: 25px;
        }
        &__cards-box {
            margin-bottom: 10px;
        }
        &__first-elipse {
            right: -35px;
        }
        &__second-elipse {
            top: 262px;
            left: -35px;
        }
    }
    .cards-item {
        width: 220px;
        height: 220px;

        &__img {
            height: 200px;
        }
        &__text {
            font-size: 22px;
            right: -75px;
            top: 92px;
        }
    }
    .icons-item {
        &__img {
            width: 30px;
        }
        &__text {
            font-size: 14px;
            span {
                font-size: 30px;
            }
        }
    }
    .title {
        &__hr_top {
            bottom: 60px;
        }
    }

    .third-section {
        min-height: 510px;
        &__container {
            justify-content: flex-start;
            padding-left: 20px;
            padding-top: 20px;
        }

        &__left-title {
            display: none;
        }
        &__right-wrapper {
            max-width: 600px;
        }
        &__right-title {
            margin-bottom: 10px;
        }
    }
    
    .footer {
        
        &__container {
            min-height: 210px;
        }
        &__img {
            width: 500px;
        }
        &__title {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 540px;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        background: $color-blue;
        z-index: 20;
        width: 50%;
        transition: all 1s;
        &_active {
            right: 0;
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
        }
        &__list-item {
            margin-right: 0;
            font-size: 20px;
        }

    }

    .hamburger {
        width: 30px;
        position: absolute;
        top: 40px;
        right: 30px;
        height: 14px;
        z-index: 30;

        span {
            height: 2px;
            width: 100%;
            display: block;
            background: black;
            margin-bottom: 4px;
            transition: 1s all;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translate(3px) rotate(45deg);
                }
            }
        }
    }
    .left-wrapper {
        &__img {
            display: none;
        }
    }
    .footer {
        &__img {
            display: none;
        }
    }

    .cards-item{
        &__text {
            right: -109px;
        }
    }
    .icons-item {
        display: block;
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }

}